<div class="jumbotron jumbotron-fluid" style= "background-color: #563d7c; color: #fff">
  <h1 class="display-3 text-xs-center">User list</h1>
</div>
<div class="list-group">
  <% @users.each do |user| %>
    <div class="list-group-item">
    <div class="pull-xs-right">
	    <%= link_to "Send Message", new_message_path(recipient_email: user.email), class:"btn btn-secondary-outline btn-sm" %>
      <%unless @friend_list.include? user.id.to_s  %>
        <%= link_to "Add friend", add_friend_path(add_friend: user.id), 
          class:"btn btn-secondary-outline btn-sm" %>
      <% else %>
        <%= link_to "Remove friend",add_friend_path(remove_friend: user.id) , 
          class:"btn btn-secondary-outline btn-sm" %>
      <% end %>
	    <%= link_to "Block", '#', class:"btn btn-secondary-outline btn-sm" %>
	  </div>
      <%= user.name %> <div class="text-muted"><%= user.email %></div>
    </div>
    
  <% end %>
