<% if logged_in? %>
  <div class="jumbotron jumbotron-fluid" style="background-color: #563d7c">
    <h1 class="display-4 text-xs-center" style="color: #fff" >
      Wellcome 
    </h1>
    <div class="lead text-xs-center" style="color:#cdbfe3">
      <strong><%= current_user.name  %></strong>,
      you have <%= pluralize(unread_message(current_user.notifications),"unread message") %> <br>
      <br>
    </div>
        <div class="text-xs-center">
          <div class="btn-group">
            <%= link_to "New Message", new_message_path, class:"btn btn-secondary btn-lg" %> 
            <%= link_to "Inbox", messages_path, class:"btn btn-secondary btn-lg"%> 
            <%= link_to "Outbox", sent_messages_path, class:"btn btn-secondary btn-lg"%> 
          </div>
        </div>
  </div>
<% else %>
  <div class="jumbotron jumbotron-fluid" style="background-color: #563d7c">
    <h1 class="display-4 text-xs-center" style="color: #fff" >
      Wellcome 
    </h1>
      <div class="lead text-xs-center" style="color:#cdbfe3">
        You need register or sign in before start using Coder Chat app
        <br>
        <br>
    </div>
        <div class="text-xs-center">
          <div class="btn-group">
            <%= link_to "Register", new_user_path, class:"btn btn-secondary btn-lg" %> 
            <%= link_to "Sign In", login_path, class:"btn btn-secondary btn-lg"%> 
          </div>
        </div>
  </div>
<% end %>
