<div class="jumbotron jumbotron-fluid" style= "background-color: #563d7c; color: #fff">
  <h1 class="display-3 text-xs-center">Outbox</h1>
</div>
<% if !@messages.blank? %>
  <ul class="list-group">
    <% @messages.each do |m| %>
      <% unless has_read? m %>
        <li class="list-group-item"> 
          <strong>
            Message has been sent to <%= recipient_of_message(m).email %> at: 
            <%= format_time(m.created_at) %>
            <div class="pull-xs-right">
              Unread
            </div>
          </strong>
      </li>
      <% else %>
        <li class="list-group-item disabled"> Message to <%= recipient_of_message(m).email %> has been read at: 
                            <%= format_time(m.notification.updated_at) %>
        <div class="pull-xs-right">
          Has read
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <h2 class="text-xs-center"> Your outbox is empty</h2>
<% end %>
<hr>
<div class="text-xs-center">
  <%= link_to "Send Message", new_message_path, class:"btn btn-secondary btn-lg" %>
</div>
