<nav class="navbar navbar-light bg-faded">
  <%= link_to "Coder Chat", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
  <% unless logged_in? %>  
    <li class="nav-item active">
      <%= link_to "Sign In", login_path, class:"nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to "Sign Up", new_user_path, class:"nav-link" %>
    </li>
  <% else %>
    <div class="pull-xs-right">
    <li class="nav-item">
      <%= link_to "#{pluralize(unread_message(current_user.notifications),"unread message")}", 
        messages_path, class:"nav-link"%>  
    </li>
    <li class="nav-item dropdown">
         <%= link_to "#{current_user.name}", root_path, role:"button", 
           data: {toggle: "dropdown"}, aria: {haspopup: "true", expaded: "false"}, 
           class: "nav-link dropdown-toggle", id: "Preview" %>
         <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
           <%= link_to "New Message", new_message_path, class: "dropdown-item" %>
           <%= link_to "User list", user_list_path, class: "dropdown-item" %>
           <%= link_to "Friend list", friends_path, class: "dropdown-item" %>
           <%= link_to "Inbox", messages_path, class: "dropdown-item" %>
           <%= link_to "Outbox", sent_messages_path, class: "dropdown-item" %>
           <div class="dropdown-divider"></div>
           <%= link_to "Logout", logout_path, class:"dropdown-item" %>
         </div>
    </li>
    </div>
  <% end %>
  </ul>
</nav>
